$primaryCyan:hsl(180, 66%, 49%);
$primaryDarkViolet:hsl(257, 27%, 26%);
$secondaryRed:hsl(0, 87%, 67%);
$neutralGrayViolet:hsl(257, 7%, 63%);
$neutralBlue:hsl(255, 11%, 22%);
$neutralDarkViolet:hsl(260, 8%, 14%);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

.btn {
    background: transparent;
    border: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1.2rem;
    text-align: center;
    transition: 0.4s all linear;
}


.hero-btn {
    background: $primaryCyan;
    border: transparent;
    color: #ffffff;
    padding: 1.2rem 2rem;
    text-align: center;
    border-radius: 20rem;
    width: 70%;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s all linear;

    &:hover {
        opacity: 0.8;
    }
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
}

// navbar

.navbar {
    padding: 2rem 1.2rem;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 100;
    overflow: hidden;

    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toggle {
            font-size: 27px;
            cursor: pointer;
            color: $neutralGrayViolet;
        }

        .nav-header {
            display: flex;

            .nav-links {
                display: none;
                margin-left: 3rem;

                .nav-link {
                    margin-right: 1rem;
                    font-weight: 500;
                    color: $neutralGrayViolet;
                    transition: 0.2s all linear;

                    &:hover {
                        color: $primaryDarkViolet;
                    }
                }
            }
        }

        .nav-btns {
            display: none;

            .nav-btn {
                @extend .btn;
                color: $neutralGrayViolet;
                padding: 0.75rem;
            }

            .sign-btn {
                background: $primaryCyan;
                border-radius: 20rem;
                color: #ffffff;
                padding: 0.6rem 1.5rem;
                margin-left: 1rem;

                &:hover {
                    opacity: 0.7;
                }
            }

        }
    }
}


@media screen and (min-width:768px) {

    .navbar {
        left: 6%;

        .nav-center {
            .nav-header {
                .nav-links {
                    display: flex;
                }
            }

            .nav-btns {
                display: block;
            }
        }
    }

    .toggle {
        display: none;
    }


}


// sidebar

.sidebar {
    background: hsl(257, 27%, 26%);
    padding: 2.5rem 1.5rem 2rem 1.5rem;
    text-align: center;
    width: 90vw;
    border-radius: 10px;
    transform: translateY(-200%);
    transition: 0.5s all linear;
    z-index: 100;
    position: fixed;
    left: 5%;


    .side-links li {
        margin-bottom: 1.5rem;

        a {
            color: #ffffff;
            font-weight: 700;
            font-size: 22px;
            transition: 0.2s all linear;

            &:hover {
                color: $secondaryRed;
            }
        }
    }

    .underline {
        width: 100%;
        height: 1px;
        background: $neutralGrayViolet;
    }

    div {
        display: grid;
        margin-top: 1rem;
        gap: 0.4rem;



        .sign-btn {
            background: $primaryCyan;
            border-radius: 10rem;
            transition: 0.4s all linear;

            &:hover {
                background: #ffffff;
                color: $primaryCyan;
            }
        }
    }
}

.show-sidebar {
    transform: translateY(25%);
}


// hero

.hero {
    margin: 5rem 0 0 0;

    &-img {
        width: 550px;
        margin-bottom: 3rem;
        transform: translateX(5%);
    }

    &-content {
        text-align: center;
        padding: 0 1rem;

        h1 {
            font-size: 48px;
            color: $primaryDarkViolet;
            margin-bottom: 0.75rem;
        }

        h3 {
            color: $neutralGrayViolet;
            font-weight: 500;
            margin-bottom: 2.5rem;
        }
    }

}


@media screen and (min-width:768px) {
    .hero {
        min-height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;

        &-img {
            order: 1;
            width: 100%;
            transform: translate(25%, 10%);
        }

        &-content {
            text-align: left;
            margin-left: 5rem;

            .hero-btn {
                width: 200px;
            }
        }
    }
}

// search form

.form-center {
    width: 90vw;
    margin: 0 auto;
    transform: translateY(5rem);

    .form {
        background: $primaryDarkViolet;
        padding: 1.5rem;
        border-radius: 5px;
        text-align: center;
        display: grid;
        gap: 1rem;
        background-image: url(./assets/bg-shorten-mobile.svg);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;

        &-input {
            padding: 1rem;
            border-radius: 8px;
            border: transparent;
            outline: transparent;
            font-size: 22px;
            font-weight: 700;
            color: $neutralGrayViolet;

            &:focus {
                border: 3px solid $primaryCyan;
            }
        }

        &-btn {
            padding: 1rem;
            border-radius: 8px;
            background: $primaryCyan;
            border: transparent;
            outline: transparent;
            font-size: 22px;
            font-weight: 700;
            color: #ffffff;
            cursor: pointer;
            transition: 0.4s all linear;

            &:hover {
                opacity: 0.8;
            }
        }

    }
}


@media screen and (min-width:768px) {
    .form-center {
        width: 85vw;

        .form {
            grid-template-columns: 3fr 1fr;
            padding: 3rem;
            background-image: url(./assets/bg-shorten-desktop.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

}

// Services

.services {
    background: #F0F1F6;
    padding: 8rem 2rem 6rem 2rem;
    text-align: center;

    .section-center {
        width: 90vw;
        margin: 0 auto;

        h1 {
            color: $neutralBlue;
            margin-bottom: 1rem;
        }

        p {
            color: $neutralGrayViolet;
        }
    }
}

.cards {
    margin-top: 1rem;

    .card {
        margin-top: 8rem;
        background: #ffffff;
        padding: 0rem 1.5rem 2rem 1.5rem;
        border-radius: 10px;
        display: grid;
        place-items: center;
        position: relative;

        .img-container {
            background: $neutralDarkViolet;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transform: translateY(-50%);
        }

        .card-info {
            h2 {
                margin-bottom: 1rem;
                color: $primaryDarkViolet;
            }

            p {
                color: $neutralGrayViolet;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .services {
        padding-bottom: 10rem;

        .services-center {
            width: 85vw;
            margin: 0 auto;

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3rem;

                .card {

                    .img-container {
                        justify-self: start
                    }

                    .card-info {
                        justify-self: start;
                        text-align: left;
                    }

                    &:nth-child(2) {
                        transform: translateY(10%);
                    }

                    &:nth-child(3) {
                        transform: translateY(20%);
                    }
                }

            }
        }
    }
}

// newsletter

.newsletter {
    display: grid;
    place-items: center;
    padding: 5rem 2rem;
    background: $primaryDarkViolet;
    color: #ffffff;
    background-image: url(./assets/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width:768px) {
    .hero-btn {
        width: 200px;
    }

    .newsletter {
        background-image: url(./assets/bg-boost-desktop.svg);
        background-size: cover;
    }
}

// footer

footer {
    padding: 3rem 0;
    background: $neutralDarkViolet;

    .footer-center {
        width: 85vw;
        margin: 0 auto;
        display: grid;
        place-items: center;
        color: #ffffff;
        text-align: center;

        .footer-logo {
            fill: #ffffff;
            margin-bottom: 2rem;
        }

        .links {
            margin-bottom: 2rem;

            h3 {
                margin-bottom: 1rem;
            }

            li {
                margin-bottom: 0.6rem;

                .link {
                    color: $neutralGrayViolet;
                    transition: 0.4s all linear;

                    &:hover {
                        color: $primaryCyan;
                    }
                }
            }
        }

        .social-icons img {
            margin-left: 1rem;
        }
    }
}

@media screen and (min-width:768px) {
    .footer-center {
        grid-template-columns: repeat(5, 1fr);

        .social-icons {
            align-self: start;
        }

        .footer-logo {
            align-self: start;
        }
    }
}

// shorten

.shorten {
    margin-bottom: 5rem;

    .shorten-card {
        background: #ffffff;
        padding: 1rem;
        border-radius: 10px;

        h3 {
            font-weight: 500;
            text-align: left;
        }

        .underline {
            width: 100%;
            height: 2px;
            background: $neutralDarkViolet;
            margin: 0.7rem 0;
        }

        .results {
            display: grid;
            gap: 1rem;

            h3 {
                color: $primaryCyan;
                text-align: left;
            }

            button {
                background: $primaryCyan;
                padding: 0.8rem;
                color: #ffffff;
                border: transparent;
                outline: transparent;
                border-radius: 5px;
                font-size: 22px;
                font-weight: 500;
                transition: 0.4s all linear;
                cursor: pointer;

                &:hover {
                    background: $primaryDarkViolet;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .shorten-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .underline {
            display: none;
        }

        .results {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
}